<?xml version='1.0' encoding='utf-8'?>
<widget id="com.colijnit.ione.pdfsign" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iOne PDF Sign</name>
    <description>
        iOne PDF Sign app
    </description>
    <author email="poul@colijn-it.nl" href="http://colijn-it.nl">
        Colijn IT
    </author>

    <hook type="after_platform_add" src="hooks/custom-widget.js" />
    <preference name="EnableDeveloperConsole" value="false" />

    <platform name="ios">
        <preference name="tabris-plugins" value="PDF" />
    </platform>

    <plugin name="https://$TABRIS_PDF_TOKEN@github.com/eclipsesource/tabris-pdf.git" />
    <plugin name="https://github.com/eclipsesource/tabris-url-scheme.git" />
</widget>
